body {
  background-color: #0e3f71;
}

.navbar,
.navbar {
  box-sizing: border-box;
}

.navbar {
  background: rgba(3, 38, 79, 0.5);
  /* width: 1440px; */
  /* position: relative; */
}

.navbarName,
.navbarName * {
  box-sizing: border-box;
}
.navbarName {
  color: #e0e0e0;
  text-align: left;
  font: 700 24px "Poppins", sans-serif;
  position: relative;
  width: 59px;
  height: 35.52px;
}
.logo {
  object-fit: cover;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: visible;
}

.nav-link {
  color: #ffffff;
  text-align: left;
  font: 500 20px "Montserrat", sans-serif;
  position: relative;
}

.navbar-nav,
.navbar-collapse {
  gap: 20px;
}

.logoutbtn {
  /* padding: 8px 16px 8px 16px; */
  border-radius: 4px;
  gap: 70px;
  background-color: rgba(3, 38, 79, 1);
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}

.logoutText {
  color: #ffffff;
  text-align: left;
  font: 500 15px "Montserrat", sans-serif;
  position: relative;
}

.navbar-toggler {
  color: #ffffff;
  background-color: #ffffff;
}

.markas-read {
  text-align: center;
}

.ant-divider-horizontal {
  background: white;
}

/* --------------------------------------------------mobile responsive--------------------------------------------- */

@media (max-width: 992px) {
  .navbar {
    height: auto;
  }
  .navbar-collapse {
    gap: 50px;
  }
  .logoutbtn {
    margin-top: 7px;
  }
  .start-100 {
    left: 2% !important;
  }
  .cursor1 {
    margin-top: 15px;
  }
}

.nav-modal .ant-modal-content {
  position: relative;
  overflow-y: hidden;
  background-color: #002363 !important;
  color: white !important;
  background-clip: padding-box;
  border: 1px solid var(--gray-300, #d0d5dd) !important;
  border-radius: 8px;
  padding: 40px 20px 40px 20px;
}
